<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopu.shopu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Shopu-Br"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splash">

        <activity
            android:name=".Activities.DetalhesProduto.detail_produtos"
            android:exported="true" />
        <activity
            android:name=".Activities.telaprincipalprodutos.TelaPrincipalProdutos"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Activities.FormCadastro.FormCadastro"
            android:exported="true"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".Activities.formloguim.FormLogin"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>